.container{
    margin-left: 0px;
    width: 1366px;
    height: 124px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 0%;
}

.footerText{
    margin-left: 100px;
    width: 202px;
    height: 23px;
    text-align: left;
    font-family: normal 18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 18px;
    font-weight: 800;
}

/********icons*********/
.icon2{
    width: 39px;
    height: 39px;
    opacity: 1;
}

.icon3{
    width: 39px;
    height: 32px;
    opacity: 1;
}