body{
    background: url('../images/Mask Group 1.png') no-repeat #072348 0% 0% padding-box;
    width: 100%;
    height: 761px;
    top: 0;
  }
  
  /********images*******/
  .img2{
    width: 238px;
    height: 239px;
    opacity: 1;
  }

  .img3{
    width: 168px;
    height: 168px;
    opacity: 1;
  }

  .img4{
    width: 160px;
    height: 160px;
    opacity: 1;
  }

  .img5{
    width: 1209px;
    height: 416px;
    opacity: 1;
  }

  .img6{
    margin-top: -200px;
    margin-left: 90px;
    width: 294px;
    height: 391px;
    opacity: 1;
  }

  .img7{
    margin-top: -270px;
    margin-left: 160px;
    width: 299px;
    height: 356px;
    opacity: 1;
  }

  .img8{
    margin-top: -270px;
    margin-left: 160px;
    width: 223px;
    height: 314px;
    opacity: 1;

  }

  /********icons********/
.iconCheck{
  width: 32px;
  height: 32px;
  opacity: 1;
}

.miniCheck{
  width: 24px;
  height: 24px;
  opacity: 1;
}
  
  /********text*********/
  
  .text7{
    margin-left: 350px;
    margin-top: 0px;
    font-family: normal 50px Montserrat;
    letter-spacing: -0.75px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    width: 744px;
    height: 61px;
  }
  .text8{
    margin-left: 450px;
    width: 515px;
    height: 61px;
    font-family: normal 50px Montserrat;
    letter-spacing: -0.75px;
    color: #FA4D09;
    font-weight: 800;
    font-size: 50px;
  }

  .text9{
    margin-left: 470px;
    margin-top: 0px;
    font-family: normal 50px Montserrat;
    letter-spacing: -0.75px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    width: 744px;
    height: 61px;
  }
  .text10{
    margin-left: 350px;
    width: 515px;
    height: 61px;
    font-family: normal 50px Montserrat;
    letter-spacing: -0.75px;
    color: #FA4D09;
    font-weight: 800;
    font-size: 50px;
  }

  .text11{
    width: 94px;
    height: 51px;
    font-family: normal 23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 23px;
    font-weight: medium;

  }
  
  
  /***********buttons***************/
  .btn2{
    margin-left: 600px;
    margin-top: -5;
    width: 214px;
    height: 35px;
    text-align: center;
    font-family: normal 24px Montserrat;
    letter-spacing: 0px;
    color: #00609C;
    opacity: 1;
    font-size: 24px;
    font-weight: 600;
  }

  /*************cards************/
  .arrow{
    width: 5px;
    height: 13px;
    color: #FA4D09;
    opacity: 1;
    font-size: 40px;
  }

  /*************cards************/

  .middleCard{
    background: #FA4D09 0% 0% no-repeat padding-box;
    box-shadow: -1px 7px 14px #0000007C;
  }

  .sideCards{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: -1px 7px 14px #87878740;
  }

  /***********cardstext*******/
  .whiteTittle{
    margin-left: 78px;
    width: 230px;
    height: 39px;
    text-align: center;
    font-family: normal 35px Montserrat;
    letter-spacing: 0.17px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    font-weight: 800;
    font-size: 35px;
  }

  .orangeTittle{
    margin-left: 78px;
    width: 230px;
    height: 39px;
    text-align: center;
    font-family: normal 30px Montserrat;
    letter-spacing: 0.15px;
    color: #FA4D09;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    font-weight: 800;
    font-size: 30px;
  }

  .whiteText{
    margin-left: 0px;
    width: 400px;
    height: 34px;
    text-align: left;
    font-family: normal 28px Montserrat;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    font-size: 28px;
  }

  .blueText{
    margin-left: 0px;
    width: 240px;
    height: 57px;
    text-align: left;
    font-family: normal 21px Montserrat;
    letter-spacing: 0.1px;
    color: #0A2240;
    font-size: 21px;
    opacity: 1;
  }

  .blueText2{
    margin-left: 50px;
    width: 249px;
    height: 57px;
    text-align: left;
    font-family: normal 21px Montserrat;
    letter-spacing: 0.1px;
    color: #0A2240;
    font-size: 21px;
    opacity: 1;
  }

.tableTittle{
  width: 195px;
  height: 24px;
  text-align: center;
  font-family: normal 20px Montserrat;
  letter-spacing: 0px;
  color: #0A2240;
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
}

.tableAtomic{
  width: 130px;
  height: 38px;
  text-align: center;
  font-family: normal 31px Montserrat;
  letter-spacing: 0px;
  color: #0A2240;
  opacity: 1;
  font-size: 31px;
  font-weight: bold;
}

.tableText{
  width: 295px;
  height: 23px;
  text-align: left;
  font-family: normal 16px Poppins;
  letter-spacing: 0px;
  color: #0A2240;
  opacity: 1;
  font-size: 16px;
  vertical-align: center;
}

  /**********containers*******/
  .topContainer{
    margin-left: 0;
    border-radius: 100px;
    width: 1366px;
    height: 424px;
    background: #00609C 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .bottomContainer{
    margin-top: -130px;
    width: 1366px;
    height: 686px;
    background: #00609C 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  /*******table*****/

table{
  top: 329px;
  left: 108px;
  max-width: 1150px;
  height: 421px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -1px 7px 14px #87878740;
  border-radius: 8px;
  opacity: 1;
}

.lastColumn{
  background: #d1e9f8;
}

/***********lists*******/

.list1{
  margin-left: 155px;
  margin-top: -70px;
  width: 282px;
  height: 119px;
  text-align: left;
  font-family: normal 23px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 23px;
  font-weight: 600;
  background: none;
  list-style: none;
}

.list2{
  margin-left: 559px;
  margin-top: -130px;
  width: 282px;
  height: 119px;
  text-align: left;
  font-family: normal 23px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 23px;
  font-weight: 600;
  list-style: none;
}

.list3{
  margin-top: -130px;
  margin-left: 976px;
  width: 282px;
  height: 119px;
  text-align: left;
  font-family: normal 23px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 23px;
  font-weight: 600;
  list-style: none;
}
